.searchbar{
    padding: 10px;
}
.card {
    float: left;
}
.card-body{
    margin: 0px !important;
    padding: 7px !important;
    padding-top: 10px !important;
}
.card-title{
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
.card-text{
    display: inline-block;
    width: 100%;
    font-size: 12px;
    color: #333;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
.card-resturant{
    
    width: 23rem !important;
    margin: 10px !important;
    padding: 0 !important;
    display: flex !important;
    margin-right: 20px !important;
    margin-left: 0px !important;;}

.restaurantsList{margin-left: 2%;}